nav {
    font-family: "LXGW WenKai TC", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin: 15px 0;
    margin-bottom: 30px;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: #2e3440;
}

nav h1 {
    font-weight: 700;
    font-size: 24px;
}

.year {
    font-size: 22px;
    font-weight: 700;
}

.article {
    font-size: 18px;
}

.items {
    display: flex;
    gap: 30px;
}

.about, .rss {
    font-size: 22px;
    font-weight: 700;
}

@media (min-width: 992px) {
    nav {
        width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    nav {
        width: 85vw;
    }
}

@media (max-width: 767px) {
    nav {
        width: 90vw;
    }
}
